/*
  ========================================
  Grid
  ========================================
*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
}

/*
  ========================================
  Background
  ========================================
*/
.wrapper {
  background-color: darkolivegreen;
  min-height: 872px;
}

/*
  ========================================
  Header
  ========================================
*/
header {
  display: flex;
  justify-content: center;
}

h1 {
  padding: 150px 20px 20px 20px;
  font-style: italic;
  font-weight: 900;
  font-size: 40px;
}

/*
  ========================================
  Main Section
  ========================================
*/
section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.excerpt {
  font-size: 24px;
  padding: 60px 300px;
}

.reference {
  padding-bottom: 40px;
}

.reference a {
  color: black;
}

.reference a:hover {
  color: blue;
}
